<div class='text-center mt-5 form'>
  <h1>Login</h1>
  <%= form_tag '/login' do %>
    <div class='form-floating mb-3'>
      <%= text_field_tag :'member[username]', '', class: "form-control", placeholder:'username' %>
      <%= label_tag 'member_username', 'Username' %>
    </div>
    <div class='form-floating mb-3'>
      <%= password_field_tag :'member[password]', '', class: "form-control", placeholder:'password'%>
      <%= label_tag 'member_password', 'Password' %>
    </div>
    <div class='mb-2'>
      <%= submit_tag 'Login', class: "w-100 btn btn-lg btn-outline-dark mb-2" %>
    </div>
  <% end %>
  <div>
    <%= form_tag "/auth/google_oauth2" do %>
      <%= image_submit_tag("google_signin.png") %>
    <% end %>
  </div>
  <%= link_to 'Back', root_path, class: 'w-50 btn btn-outline-primary btn-lg'%>
</div>

