<div class='text-center form-container form'>
  <h1><%= submit %></h1>
  <%= form_for @post do |f| %>
    <div class='form-floating mb-3'>
      <%= f.text_field :title, class: "form-control", placeholder:'Title' %>
      <%= f.label :title %>
    </div>
    <div class="form-floating mb-3">
      <%= f.text_area(:content, class: "form-control", placeholder:'Content', style:"height: 100px") %>
      <%= f.label :content %>
    </div>
    <div class="form-floating mb-3">
     <%= f.select :category, 
        [['General', 'general'], 
        ['Crafting', 'crafting'],
        ['Gathering', 'gathering'],
        ['Pvp', 'pvp'], 
        ['Pve', 'pve']], {}, { class: 'form-select' } %>
      <%= f.label :category %>
    </div>
    <div>
      <%= f.submit class: "w-100 btn btn-lg btn-outline-dark mb-2" %>
    </div>
  <% end %>
  <%= link_to 'Back', posts_path, class: 'w-50 btn btn-outline-primary btn-lg'%>
</div>
