<h1><%= submit %></h1>
<%= form_for @member do |f| %>
  <div class='form-floating mb-3'>
    <%= f.text_field :username, class: "form-control", placeholder: :username %>
    <%= f.label :username %>
  </div>
  <div class='form-floating mb-3'>
    <%= f.text_field :email, class: "form-control", placeholder: :email %>
    <%= f.label :email %>
  </div>
  <% if submit == 'Sign Up' %>
    <div class='form-floating mb-3'>
      <%= f.password_field :password, class: "form-control", placeholder: :password %>
      <%= f.label :password %>
    </div>
    <div class='form-floating mb-3'>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: :password_confirmation %>
      <%= f.label :password_confirmation %>
    </div>
  <% end %>
  <div class="mb-3">
    <%= f.label "#{ submit == 'Sign Up' ? 'Upload' : 'Update'} your avater picture", class: "form-label" %> 
    <%= f.file_field :avatar, class: "form-control" %>
  </div>
  <div>
    <%= f.submit "#{submit}", class: "w-100 btn btn-lg btn-outline-dark mb-3" %>
  </div>
<% end %>
