<div class='w-75 p-3 mx-auto'>
  <div class='d-flex justify-content-evenly'>
    <div>
      <div class="card text-white bg-dark mb-5" style="width: 18rem;">
        <%= image_tag(url_for(@member.avatar), class: 'card-img-top')%>
          <div class="card-body text-center">
            <h5 class="card-title"><%= @member.username %></h5>
            <p class="card-text"><%= @member.rank %></p>
            <p class="card-text">Number of Posts made: <%= @member.posts.count %></p>
            <p class="card-text">Number of Comments made: <%= @member.comments.count %></p>
            <% if current_member.id == @member.id %>
              <%= link_to "Edit Profile", edit_member_path(current_member), class: 'btn btn-outline-secondary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div>
      <table class="table table-dark table-striped table-hover">
        <thead>
          <tr class="table-dark">
            <th>All posts made</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
            <% if @member.posts != [] %>
              <% @member.posts.each do |post| %>
                <tr class="table-dark">
                  <td><%= link_to post.title, post, class: 'text-decoration-none text-white' %></td>
                  <td><%= post.comments.count %></td>
                </tr>
                <% end %>
                <% else %>
                  <% if current_member.id == @member.id %>
                  <tr class="table-dark">
                    <td>You do not own any posts! Go make some!!!</td>
                    <td></td>
                  </tr>
                  <% else %>
                  <tr class="table-dark">
                    <td>Does not own any posts</td>
                    <td></td>
                  <tr>
                <% end %>
              <% end %>
          </tbody>
      </table>
     </div>
  </div>
</div>
  